@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
header .nav-btn {
    cursor: pointer;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgba(51, 51, 51, 0.8); 
        backdrop-filter: blur(10px);
        transition: .5s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}

.dash-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 8px;
  }
  
  .dash-table td {
    height: 40px;
    color: #000;
    border-bottom: 1px solid #000;
  }
  
.dash-table th{
    background-color: #000;
    height: 40px;
    color: #fff;
    border-radius: 0.25rem;
}
