*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .nav-btn {
    cursor: pointer;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #333;
        transition: .5s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 3rem;
    }
}