@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Raleway:wght@300;400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
header .nav-btn {
    cursor: pointer;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgba(51, 51, 51, 0.8); 
        backdrop-filter: blur(10px);
        transition: .5s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}

.dash-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 8px;
  }
  
  .dash-table td {
    height: 40px;
    color: #000;
    border-bottom: 1px solid #000;
  }
  
.dash-table th{
    background-color: #111;
    height: 40px;
    color: #fff;
    border-radius: 0.25rem;
}
.outer-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  
  .switch:checked {
    background-color: #f99f3d;
  }
  
  .switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
  }
  
  .switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
  }
  
  .switch:checked:hover::before {
    box-shadow: 0 0 0px 8px #f99f3d60
  }
  
  .switch:checked:before {
    transform: translateX(100%);
    border-color: #f99f3d;
  }